@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    background-size: 200px 200px;
    background-position: 0 0;
}

h1,
h2,
h3,
h4 {
    font-family: var(--incognito), "Inter", sans-serif;
}
