---
import App from "../layout/App.astro"
import { FcGoogle } from "react-icons/fc"
import Counter from "../component/counter.vue"
---

<App title="Test Layout">
	<h2>With World</h2>
	<Counter />
	<FcGoogle />
</App>
